body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  
  }
  
  ol, ul {
    padding-left: 30px;
list-style-type: none;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
    height: 100px;
    opacity: .6;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    align-content: left;
  }
  
  .game-info {
    margin-left: 20px;
  }

  .title {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
      
  }
  .site {
  margin: auto;
  width: 750px;
  height: 550px;
  border: 3px solid rgb(10, 60, 83);
  padding: 10px;
  text-align: center;
  align-content: left;
  background-image:url(./DaBack.png);
  background-size: cover;

  }

  .status {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  }

  h1 {
      font-size: 4em;
  }
  h2 {
      font-size: 2em;
  }